.Buttons-container {
    width : 60%;
    height:400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

@media(max-width: 700px){
    .Buttons-container{
        width: 80%;
        height: 250px;
        font-size: 18px;
    }
}